<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Configurações principais -->
		<add key="LetraHD" value="F:" />
		<add key="PastaBackup" value="BackupDesktop" />
		<add key="LogDir" value="LogsBackup" />
		<add key="QtdBackups" value="10000" />

		<!-- Opções de comportamento -->
		<add key="DesligarAoFinal" value="1" />
		<add key="LogAtivo" value="true" />
	</appSettings>
</configuration>
